{% extends 'base.html' %}
{% load static %}
{% block title %} 
Product
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'img/5.jpg' %}"alt="">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <div>
                <h1 class="product_title">Gibson SG</h1>
                <h5 class="text-info font-italic mb-3">
                    <span class="mr-1">$</span> 2999   
                   </h5>
                <p class="product_description">Product Description</p>
                <p class="text-justify product_text">	
                    Nothing says rock and roll like the right combination of simplicity and attitude. Maybe that’s why the ’63 Gibson SG Special was the axe of choice for so many classic rockers. A lightweight solid body, and fast mahogany neck with rosewood fingerboard combined with a pair of punchy, warm P90 soapbar single-coil pickups for enough growl to back off a grizzly. This Gibson Custom Shop ’63 SG Special Reissue captures all the details, right down to the classic “Lightning Bar” compensated wraparound bridge. Includes deluxe hardshell case and Certificate of Authenticity. Features
                    Nitro-finished solid mahogany body
                    24.75”-scale mahogany neck, 22-fret Indian rosewood fingerboard
                    Dual Custom P90 “Soapbar” single-coil pickups, 3-way switch
                    Vintage-style “Lightning Bolt” compensated wraparound bridge, vintage-style Kluson tuners</p>
                <p class="text-justify product_text"><b>Out of Stock</b></p>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}
